body{
    margin: 0px;
    padding: 0px;
}

header{

    height: 100px;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

header a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
}
header a:hover{
    background-color: #049f00fc;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}